<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Katy Toy Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"  href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Categories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
          <a class="dropdown-item" routerLink='/animals' routerLinkActive="active" href="#">Animals</a>
          <a class="dropdown-item" routerLink='/dolls' routerLinkActive="active" href="#">Dolls</a>
          <a class="dropdown-item" routerLink='/cars' routerLinkActive="active" href="#">Cars</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink='/educational' routerLinkActive="active" href="#">Educational Toys</a>
          <a class="dropdown-item" routerLink='/electronic' routerLinkActive="active" href="#">Electronic Toys</a>
          <a class="dropdown-item" routerLink='/action-figures' routerLinkActive="active" href="#">Action Figures</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Brand</a>
      </li> 
    </ul>
    
  </div>
</nav>

  <router-outlet class="container-fluid"></router-outlet>
<!-- 
<footer class="container">
  <div class="container">
      <div class="row container">
        <div class="col-4">
          <a href="https://www.facebook.com/" target="_blank">
            <img src=".\assets\data\facebook.svg" width="25%" height="50" >
          </a>
          <a href="https://www.youtube.com/" target="_blank">
            <img src=".\assets\data\youtube.svg" width="25%" height="50" >
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <img src=".\assets\data\instagram.svg" width="25%" height="50" >
          </a>
          <a href="https://www.twitter.com/" target="_blank">
            <img src=".\assets\data\twitter.svg" width="25%" height="50" >
          </a>
        </div>
       
      </div>
  </div>
</footer>
</div> -->