<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>    
        
        <tbody>
            <tr *ngFor="let animal of animals">
                <td> {{animal.id}}</td>
                <td> {{animal.name}}</td>
                <td> {{animal.description}}</td>
                <td> {{animal.date}}</td>
                <td><button type="button" class="btn btn-primary">Buy it </button></td>
                
            </tr>
        </tbody>

        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToy">Add Toy</button> -->

        
    </table>
    
    
    
</div>

<div class="container">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add Toy</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Toy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="id" class="col-form-label">ID:</label>
            <input type="number" class="form-control" id="id">
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Description:</label>
            <input type="text" class="form-control" id="description">
          </div>
          <div class="form-group">
            <label for="date" class="col-form-label">Date:</label>
            <input type="date" class="form-control" id="date">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Save Changes</button>
      </div>
    </div>
  </div>
</div>
</div>
