<div class="container">
  <h1 style="text-align: center;">Animals</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>Description</th>
                <th>Created Date</th>
                <th></th>
            </tr>
        </thead>    
        
        <tbody>
            <tr *ngFor="let item of animals">
                <td> {{item.id}} </td>
                <td> {{item.name}} </td>
                <td> {{item.description}} </td>
                
                <td> {{date | date:'dd-MM-yyyy'}}</td>
                <td>
                  
                  <div class="container">
                  <button type="button" class="btn btn-primary" data-toggle="modal" (click)="edit(item)">Edit</button>
                  
                  
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Edit Toy Information</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <!-- <div class="form-group">
                              <label for="id" class="col-form-label">ID:</label>
                              <input type="number" class="form-control" id="id" name="ngModel" [(ngModel)]="id" placeholder="Id">
                            </div> -->
                            <div class="form-group">
                              <label for="name" class="col-form-label">Name:</label>
                              <input type="text" class="form-control" id="name" name="ngModel" [(ngModel)]="animal.name" placeholder="Name">   
                              
                              
                            </div>   
                            
                            <!-- {{Name.className}}        -->
                                    
                            <div class="form-group">
                              <label for="description" class="col-form-label">Description:</label>
                              <input type="text" class="form-control" id="description" 
                               name="ngModel" [(ngModel)]="animal.description" placeholder="Description">
                            </div>
                            
                          </form>
                  
                          
                        </div>
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                          <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="save()">Save Changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                
                </td>
                
            </tr>
        </tbody>

        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToy">Add Toy</button> -->

        
    </table>
    
    
    
</div>

<div class="container">
<button type="button" class="btn btn-primary" (click)="openPopup(template)">Add Toy</button>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Toy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!-- <div class="form-group">
            <label for="id" class="col-form-label">ID:</label>
            <input type="number" class="form-control" id="id" name="ngModel" [(ngModel)]="id" placeholder="Id">
          </div> -->
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" #name="ngModel" pattern="^[A-Z a-z]+[a-z 0-9]*$" [(ngModel)]="animal.name" placeholder="Name">   
            <span class="text-danger" *ngIf="name.errors?.required && (name.dirty || name.touched)">
              'Name' field is required!
          </span>
          <span class="text-danger" *ngIf="name.errors?.pattern">'Name' field is invalid!</span>
            
          </div>   
          
          <!-- {{Name.className}}        -->
                  
          <div class="form-group">
            <label for="description" class="col-form-label">Description:</label>
            <input type="text" class="form-control" id="description"
            #description="ngModel" [(ngModel)]="animal.description" placeholder="Description">
          </div>
          
        </form>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="addToy()" >Save Changes</button>
      </div>
    </div>
  </div>
</div>
</div>
